.top-bar {
	background-color: rgb(255, 100, 44);
	height: 10vh;
	padding: 1em;
}

.top-bar h1 {
	letter-spacing: 5px;
}

.upload-form {
	color: black;
}

.upload-form h2 {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	text-align: center;
}

.gallery {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
	padding: 1.2em;
}

.gallery img {
	width: 100%;
	height: 250px;
	opacity: 0.7;
}
.rigister {
	background-color: #eac435;
	height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.rigister form {
	margin: auto;
	display: flex;
	gap: 20px;
	font-size: 1.3rem;
	flex-direction: column;
	width: 65%;
	padding: 1.4em;
}

.backgrop {
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 5;
}

.model {
	background-color: black;
	width: 60%;
	height: 50%;
	opacity: 1;
}

.model img {
	width: 100%;
	height: 100%;
}
