.top-bar {
	background-color: rgb(255, 100, 44);
	height: 10vh;
	padding: 1em;
}

.upload-form {
	color: black;
}

.upload-form h2 {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	text-align: center;
}
